{% extends "app_base.html" %}
{% block content %}
{# include the first two lines above to extend the app_base template #}
  <h2>Auction Stats</h3> 
  <div style="background-color:lightblue">
  	<h3>{{ Name }}
  		<h4>
  			Seller: {{ Seller }}   		</h5></h4>
  	<div style="background-color:WhiteSmoke">
  	<p style="background-color:WhiteSmoke">
  		Started: {{Started}}
  	</p>
  	<p style="background-color:WhiteSmoke">
  		Ends: {{Ends}}
  		</h5>
  	<p style="background-color:WhiteSmoke">
  		Description: {{Description}}
  	</p>
  	<div>
  	<div style="background-color:Beige">
  	<h5 style="background-color:Beige">
  		Categories: {{Category}}
  	</h5>
  	<div>
	</div>
	<div style="background-color:white">
	<h2>Bids</h3> 
	<div>
{# also make sure to include this very last line as well #}
{% endblock %}
